h2 {
border: 2px solid rgb(203, 171, 255);
border-style: groove;
text-align: center;
margin: 10px 0;
padding: 5px;
}

h3 {
background-color: lightseagreen;
margin: 0;
padding: 5px;
}

.box {
border: 1px solid rgb(203, 171, 255);
margin-top: 25px;
margin-left: 5px;
width: 150px;
padding: 10px;
box-sizing: border-box;

}

.box2 {
border: 1px solid rgb(203, 171, 255);
margin-top: 25px;
margin-left: 5px;
width: 150px;
padding: 10px;
box-sizing: border-box;

}

.box21 {
border: 1px solid rgb(203, 171, 255);
margin-top: 25px;
margin-left: 5px;
width: 150px;
padding: 10px;
box-sizing: border-box;

}

img{
    width: 150px;
    height: 150px;
    margin-top: 15px;
    margin-left: 20px;
}

ol{
    background-color: whitesmoke;
}
ul{
    background-color: antiquewhite;
}