* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #000;
  color: #fff;
  padding: 20px;
  display: flex;
}

header h1 {
  font-size: 2em;
  font-weight: 400;
  margin: 0;
}

header nav {
  margin-left: auto;
  margin-top: auto;
}

header nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

#new-recipe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

#new-recipe-form input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 1.2em;
}

#new-recipe-form textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 1.2em;
}

#recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.recipe-card {
  flex-basis: 200px;
  flex-grow: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 10px;
}

.single-recipe-view {
  flex-basis: 500px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  margin: 5px 10px;
  padding: 10px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}
